@charset "UTF-8";

// Variables
@import "_base/vars";

.m-color {
  height: 140px;
  margin-bottom: 20px;

  &:after {
    display: block;
    line-height: 140px;
    text-align: center;
    color: #fff;
  }

  @each $name, $color in $theme-colors {
    //@debug $name;
    &--#{$name} {
      background-color: $color;

      &:after {
        color: color-yiq(map_get($theme-colors, $name));
        content: "#{$name} #{$color}";
      }
    }
  }
}
