// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-test-name: 'sprite-test';
$sprite-test-x: 65px;
$sprite-test-y: 0px;
$sprite-test-offset-x: -65px;
$sprite-test-offset-y: 0px;
$sprite-test-width: 63px;
$sprite-test-height: 46px;
$sprite-test-total-width: 128px;
$sprite-test-total-height: 46px;
$sprite-test-image: '../images/sprites.png?v=1541695160274';
$sprite-test: (65px, 0px, -65px, 0px, 63px, 46px, 128px, 46px, '../images/sprites.png?v=1541695160274', 'sprite-test', );
$sprite-test-sprite-active-name: 'sprite-test.sprite--active';
$sprite-test-sprite-active-x: 0px;
$sprite-test-sprite-active-y: 0px;
$sprite-test-sprite-active-offset-x: 0px;
$sprite-test-sprite-active-offset-y: 0px;
$sprite-test-sprite-active-width: 63px;
$sprite-test-sprite-active-height: 46px;
$sprite-test-sprite-active-total-width: 128px;
$sprite-test-sprite-active-total-height: 46px;
$sprite-test-sprite-active-image: '../images/sprites.png?v=1541695160274';
$sprite-test-sprite-active: (0px, 0px, 0px, 0px, 63px, 46px, 128px, 46px, '../images/sprites.png?v=1541695160274', 'sprite-test.sprite--active', );
$spritesheet-width: 128px;
$spritesheet-height: 46px;
$spritesheet-image: '../images/sprites.png?v=1541695160274';
$spritesheet-sprites: ($sprite-test, $sprite-test-sprite-active, );
$spritesheet: (128px, 46px, '../images/sprites.png?v=1541695160274', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
