// Margin utilities
.u-m0 {
  margin: 0 !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Padding utilities
.u-p0 {
  padding: 0 !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
