// Paths
$images-path: '../images';
$fonts-path: '../fonts';

// Colors
$color1: #cc4a14;
$color2: #99583d;
$color3: #ff0000;
$color4: #40ff40;
$color5: #54cc14;

// Grid
$grid-gutter-width: 30px;
$max-width: 1140px + $grid-gutter-width;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
