---
title: "Welcome"
layout: default.hbs
---
<div class="m-content">
    <h1 class="m-content__title">{{ this.page.title }}</h1>

    <p class="m-content__paragraph">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             class="m-content__image" width="250" height="250" alt="1x1px-gray.gif">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam assumenda commodi consectetur
        deserunt dolorem, ducimus excepturi hic, illum impedit iste laudantium mollitia nam omnis placeat possimus
        sapiente, voluptatum.
    </p><!-- /.m-content__paragraph -->
</div><!-- /.m-content -->