---
title: "Welcome"
layout: default.hbs
---
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
<p>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="250" height="150" alt="1x1px-gray.gif" />
</p>