---
title: "Style guide"
layout: styleguide.hbs
styleguide: true
---
<div class="container">
  <h1>Styleguide</h1>

  <h2 id="typography"><a href="#typography">#</a> Typography</h2>
</div>

<div class="container">
  <h1>H1. Lorem ipsum dolor sit amet</h1>

  <h2>H2. Lorem ipsum dolor sit amet</h2>

  <h3>H3. Lorem ipsum dolor sit amet</h3>

  <h4>H4. Lorem ipsum dolor sit amet</h4>

  <h5>H5. Lorem ipsum dolor sit amet</h5>

  <h6>H6. Lorem ipsum dolor sit amet</h6>

  <p>
    Consectetur adipisicing elit. Adipisci aliquam aliquid assumenda blanditiis, deleniti ea eos, illum iusto,
    maiores quibusdam quo quos reiciendis rem repellat <a href="">similique unde vitae</a> voluptate voluptatum?
  </p>
</div>

<div class="container">
  <h2 id="colors"><a href="#colors">#</a> Colors</h2>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-2">
      <div class="m-color m-color--color1"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-2">
      <div class="m-color m-color--color2"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-2">
      <div class="m-color m-color--color3"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-2">
      <div class="m-color m-color--color4"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-2">
      <div class="m-color m-color--color5"></div>
    </div>
  </div>
</div>

<div class="container">
  <h2 id="buttons"><a href="#buttons">#</a> Buttons</h2>
</div>

<div class="container">
  <p>
    <button type="button" class="button">Button</button>
    <button type="button" class="button button--primary">Button</button>
    <button type="button" class="button button--secondary">Button</button>
  </p>
</div>

<div class="container">
  <h2 id="form"><a href="#form">#</a> Form</h2>
</div>

<div class="container">
  <form class="m-form">
    <div class="m-form__group">
      <label for="form-input">Input</label>
      <input type="text" class="form-control" id="form-input" name="form-input" placeholder="Input">
    </div>
    <div class="m-form__group">
      <label for="form-select">Select</label>
      <select class="form-control" id="form-select" name="form-select">
        <option value="">Option 1</option>
        <option value="">Option 2</option>
        <option value="">Option 3</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="form-checkbox"> Checkbox
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="form-radio"> Radio 1
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="form-radio"> Radio 2
      </label>
    </div>
    <div class="form-group">
      <label for="form-file">File input</label>
      <input type="file" id="form-file">
    </div>
    <div class="m-form__group">
      <label for="form-textarea">Textarea</label>
      <textarea name="form-textarea" id="form-textarea" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>

<br>
