.m-sidebar {
  margin-bottom: 15px;

  &__title {
    margin: 0 0 rem(10);
    font-weight: bold;
    font-size: rem(25);

    &--muted {
      color: lighten(#000, 30%);
    }
  }

  &__content {
    margin: 0;
  }
}
