<div class="m-sidebar">
  <h1 class="m-sidebar__title">Consectetur adipisicing elit</h1>

  <p class="m-sidebar__content">
    Ad animi aperiam assumenda aut, cum dolore dolores dolorum eaque eligendi enim
    eos est laborum molestias nulla obcaecati odio repudiandae veniam voluptas.
  </p><!-- /.m-sidebar__content -->
</div><!-- /.m-sidebar -->

<div class="m-sidebar">
  <h1 class="m-sidebar__title m-sidebar__title--muted">Sprite example</h1>

  <p class="m-sidebar__content">
    <code>&lt;i class="sprite-test"&gt;&lt;/i&gt;</code><br>
    <i class="sprite-test"></i>
  </p><!-- /.m-sidebar__content -->
</div><!-- /.m-sidebar -->
