<div class="m-sidebar">
    <h1 class="m-sidebar__title">Consectetur adipisicing elit</h1>

    <p class="m-sidebar__content">
        Ad animi aperiam assumenda aut, cum dolore dolores dolorum eaque eligendi enim
        eos est laborum molestias nulla obcaecati odio repudiandae veniam voluptas.
    </p><!-- /.m-sidebar__content -->
</div><!-- /.m-sidebar -->

<div class="m-sidebar">
    <h1 class="m-sidebar__title m-sidebar__title--muted">Adipisicing elit</h1>

    <p class="m-sidebar__content">
        Animi aperiam assumenda aut, cum dolore dolores dolorum eaque eligendi enim
        eos est laborum molestias nulla obcaecati odio repudiandae veniam voluptas.
    </p><!-- /.m-sidebar__content -->
</div><!-- /.m-sidebar -->