<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ this.page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/style.css?v=0.0.1">
    {{#if this.page.styleguide}}
        <link rel="stylesheet" href="../css/styleguide.css?v=0.0.1">
    {{/if}}
    <script src="../js/vendors.header.lib.js?v=2.8.3"></script>
</head>
<body>