{{>site-header}}

<section class="l-main">
    <article class="l-main__article">
        {{> body}}
    </article><!-- /.l-main__article -->

    <aside class="l-main__aside">
        {{>sidebar}}
    </aside><!-- /.l-main__aside -->
</section><!-- /.l-main -->

{{>site-footer}}