{{>site-header}}

<section class="main">
    <article class="main__article">
        {{> body}}
    </article>

    <aside class="main__aside">
        {{>sidebar}}
    </aside>
</section>

{{>site-footer}}